.App {
    width: 317px;
    height: 780px;
    background-color: #1A1B21;
    margin: auto;
    border-radius: 10px;
    
}

main {
    width: 247px;
    margin: auto;
    margin-top: 16px;
}

main > h1 {
    font-size: 16px;
    line-height: 0px;
    color: #F5F5F5;
    line-height: 150%;
    margin: 0px;
}

.text {
    font-size: 10.24px;
    font-weight: 300;
    color: #DCDCDC;
    line-height: 150%;
    margin: 0px;
}